<html lang="ko">

<head>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <style type="text/css">
        html {
            background: #1b98e0;
        }
        body {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            background: #1b98e0;
            color: #fff;
            font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif', serif;
        }
        h1 {
            font-size: 3.5em;
        }
        a {
            color: #ffffff;
            text-decoration: none !important;
            font-size: 25px;
            font-weight: bold;
            text-align: left;
            padding: 15px;
            margin-bottom: 20px;
            border: solid 2px #ffffff;
        }
        a:hover {
            color: #1b98e0;
            background: #ffffff;
        }
    </style>
</head>
<body>
<h1 class="animated bounce infinite slow">
    안녕?<br>
    너의 대학생활을<br>
    편리하게 해줄게<br>
</h1>
<a href="/api">API Document</a>
</body>
</html>
